@charset "UTF-8";
html {
  font-size: 10px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #262161;
  background: #efefef;
}
body:before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    #48ded4 0%,
    #a026bf 20%,
    #e82c75 60%,
    #ffc40e 85%,
    #48ded4 95%
  );
  height: 10px;
  width: 100%;
}
img {
  max-width: 100%;
}
[hidden] {
  display: none;
}
.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "messages"
    "content"
    "footer";
}
a {
  text-decoration: none;
}
.header {
  grid-area: header;
  display: grid;
  grid-template-rows: auto auto;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #303030;
  grid-template-areas:
    "Pages User"
    "Search Search";
}
.navSectionPages {
  display: grid;
  grid-template-columns: 200px repeat(auto-fit, 100px);
  grid-template-rows: auto;
  grid-area: Pages;
}
.navSectionSearch {
  display: flex;
  flex: 1 1 auto;
  grid-area: Search;
  width: 100%;
}
.navItem {
  display: grid;
}
.navLink {
  background: #303030;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  padding: 1.2rem 2rem 1rem 2rem; /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  border-bottom: 5px solid transparent;
}
.navLink svg {
  width: 60px;
  transition: all 0.2s;
  fill: white;
  margin-bottom: 1rem;
}
.navLink:hover,
.navLink--active {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      90deg,
      #48ded4 0%,
      #a026bf 20%,
      #e82c75 60%,
      #ffc40e 85%,
      #48ded4 95%
    )
    fixed;
}
.navLink:hover svg,
.navLink--active svg {
  transform: scale(1.2);
}
.navLinkLogo:hover svg {
  transform: none;
}
.navLinkLogo svg {
  width: 200px;
  height: 100%;
  margin: 0;
}
.searchResults {
  background: white;
  position: absolute;
  width: 100%;
  top: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.searchInput {
  font-size: 30px;
  font-family: sans-serif;
  background: none;
  color: white;
  outline: 0;
  border: 0;
}
.searchResult {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #ececec;
}
.searchResult--active {
  background: #f1f1f1;
}
.navSectionUser {
  display: grid;
  grid-area: User;
}
.messages {
  grid-area: messages;
  display: grid;
}
.content {
  grid-area: content;
  width: 100%;
  justify-content: center;
}
.footer {
  grid-area: footer;
  display: grid;
  width: 100%;
  background: linear-gradient(
    90deg,
    #48ded4 0%,
    #a026bf 20%,
    #e82c75 60%,
    #ffc40e 85%,
    #48ded4 95%
  );
  font-size: 15px;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  text-align: center;
}
.footer-text {
  align-self: center;
  color: white;
  font-family: "Mina", sans-serif;
}
h2 {
  display: grid;
  justify-content: center;
  font-family: "Fontdiner Swanky", cursive;
  font-size: 5rem;
  font-weight: 100;
  color: #37393a;
}
h3 {
  display: grid;
  justify-content: right;
  font-family: "Fontdiner Swanky", cursive;
  font-size: 5rem;
  font-weight: 100;
  color: #37393a;
}
.table a:link {
  text-decoration: none;
  color: #ee7297;
}
.table a:visited {
  color: #77b6ea;
}
/* Ads Table */
.table {
  width: 100%;
  font-size: 15px;
}
.table td {
  font-family: "Lato", sans-serif;
  padding: 10px;
}
.table tr:nth-child(even) {
  background: white;
}
.table tr:nth-child(odd):not(:first-child) {
  background: #f7f7f7;
}
.table thead tr {
  font-family: "Mina", sans-serif;
  background: #37393a;
  color: white;
}
/* Ads in Grid */
.ads {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: auto;
  justify-content: space-evenly;
}
.ad {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "actions"
    "hero"
    "details";
  background: white;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}
.ad__details {
  display: grid;
  box-sizing: border-box;
  grid-area: details;
  justify-self: center;
  width: 100%;
  padding: 20px;
}
.ad__details p {
  line-height: 1.2;
  margin-bottom: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  color: black;
}
.ad__actions {
  grid-area: actions;
  z-index: 2;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: grey;
  align-items: center;
  justify-content: space-around;
}
.ad__action {
  font-size: 10px;
}
.ad__action svg {
  width: 25px;
  fill: white;
}
.ad__action--edit a {
  border-bottom: 0;
}
.ad__hero {
  grid-area: hero;
  background: grey;
  padding: 0px 10px;
  text-align: right;
}
h3.title {
  margin: 10px;
  word-wrap: break-word;
  position: relative;
  z-index: 2;
  margin-top: -40px;
  font-size: 40px;
  z-index: 2;
  line-height: 1.1;
  transform: skew(0, -3deg);
  line-height: 1.1;
}
h3.title a {
  border-bottom: 50px;
  background-image: linear-gradient(
    to right,
    rgba(255, 196, 14, 0.8) 100%,
    rgba(255, 196, 14, 0.8) 50%
  );
}
.ad__hero img {
  max-width: 100%;
  grid-area: actions/hero;
  object-fit: cover;
  max-height: 350px;
  border-radius: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
/* pagination */
.pagination {
  display: flex;
  font-family: "Mina", sans-serif;
  font-size: 15px;
  align-items: center;
  background: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}
.pagination__next {
  flex: 0 0 auto;
  padding: 1rem 3rem 1rem 1rem;
}
.pagination__next a:after {
  margin-left: 1rem;
  content: "\2192";
}
.pagination__prev {
  flex: 0 0 auto;
  padding: 1rem 1rem 1rem 3rem;
}
.pagination__prev a:before {
  margin-right: 1rem;
  content: "\2190";
}
.pagination__text {
  flex: 3 0 auto;
  padding: 1rem;
  text-align: center;
}
/* flash messages*/
@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.flash {
  background: white;
  font-size: 15px;
  text-align: center;
  font-family: "Aldrich", sans-serif;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: flex;
  animation: slideIn forwards 0.1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}
.flash + .flash {
  animation-delay: 0.55s;
}
.flash + .flash + .flash {
  animation-delay: 0.6s;
}
.flash__text {
  -ms-flex: 1;
  flex: 1;
}
.flash__remove {
  background: none;
  border: 0;
}
.flash__remove:hover {
  color: #ffc40e;
}
.flash:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  z-index: -1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.flash--success {
  background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%);
}
.flash--error {
  background: linear-gradient(20deg, red 0%, #c80000 100%);
}
.flash--info {
  background: linear-gradient(35deg, #f1e767 0%, #feb645 100%);
}
.flash p {
  margin: 0;
}
