mixin loginForm()
  
  form.form(action="/authenticate" method="POST" class="card")
    label(for="email") #{__('Email Address')}
    input(type="email" name="email")
    label(for="password") #{__('Password')}
    input(type="password" name="password")
    input.button(type="submit" value="Log In →")